
body {
  background-color: var(--background-color);
  color : var(--text-color-lvl-1);
}

#Difficulty{
    width:100px;
    border : 0.1rem solid #1c2347;
}

#question{
    width:400px;
    border: 0.1rem solid #1c2347;
}

#GoodChoice {
    width:100px;  
    border: 0.1rem solid #1c2347;
}

#chapter {
  margin-left: 50%;
}

label {
  margin-left : 30%;
}

.choice-container {
  margin-top:0.5rem;
  display: flex;
  margin-bottom: 0.5rem;
  width: 60%;
  font-size: 1.8rem;
  margin-left: 30%;
}

.choice-prefix {
  padding: 1.5rem 2.5rem;
}

.choice-text {
  width: 100%;
  background: transparent;
  border:none;
}

.choice-text:hover {
  width: 100%;
  background: transparent;
  border:none;
}

.choice-valid{
    padding :1.5rem;
    border:none;
    text-align:center;
    margin-left: 45%;
}





