.icon{
    max-height:100%;
    width:auto;
}

.theme{
    height : 30px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left : 10px;
    display: flex;
    align-items: center; /* Vertical center alignment */
}

.spanTheme{
    margin-left: 5px;
}

.orderSectionForm{
    display:inline-flex
}

h1{
    text-transform:uppercase;
}

.icon{
    background-color: #dfdafd;
    border-radius: 100%;
}

a{
    color:var(--text-color-lvl-1)
}

#joinCourse {
    border: none;
    color: white;
    padding: 2px 32px;
    margin-bottom: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: 'Quicksand Regular';
    background-color: #01b33c;
}

#joinCourse:hover {
    background-color: #046725;
}

#quitCourse {
    border: none;
    color: white;
    padding: 2px 32px;
    margin-bottom: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: 'Quicksand Regular';
    background-color: #b30101;
}

#quitCourse:hover {
    background-color: #670404;
}

a{
    text-decoration: underline;
}

#quizz{
    margin-top:40px;
}