.icon{
    max-height:100%;
    width:auto;
}

.theme{
    height : 30px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left : 10px;
    display: flex;
    align-items: center; /* Vertical center alignment */
}

.spanTheme{
    margin-left: 5px;
    margin-right: 5px;
}

.orderSectionForm{
    margin-left:5px;
    display:inline-flex
}

.orderSectionForm input{
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: 'Quicksand Regular';
    color: var(--text-color-lvl-1);
    background-color: var(--background-color);
}

.orderSectionForm input:hover{
    box-shadow: 0px 1px 10px black;
}

.deleteTheme input{
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: 'Quicksand Regular';
    color: var(--text-color-lvl-1);
    background-color: var(--background-color);
    margin-left : 20px;
}

.deleteTheme input:hover{
    box-shadow: 0px 1px 10px black;
}

.orderSectionForm input:disabled,
input[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}

h1{
    text-transform:uppercase;
}

.icon{
    background-color: #dfdafd;
    border-radius: 100%;
}

a{
    color:var(--text-color-lvl-1)
}

#addSectionBtn{
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: 'Quicksand Regular';
    color: var(--text-color-lvl-1);
    background-color: var(--background-color);
}

#addSectionBtn:hover{
    box-shadow: 0px 1px 10px black;
}

#joinCourse {
    border: none;
    color: white;
    padding: 2px 32px;
    margin-bottom: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: 'Quicksand Regular';
    background-color: #01b33c;
}

#joinCourse:hover {
    background-color: #046725;
}

#quitCourse {
    border: none;
    color: white;
    padding: 2px 32px;
    margin-bottom: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: 'Quicksand Regular';
    background-color: #b30101;
}

#quitCourse:hover {
    background-color: #670404;
}


#quizz{
    margin-top:40px;
}