textarea {
    resize: none;
    width: 40%;
    height: 5em;
}

#containerInputZone {
    display: flex;
    justify-content: center;
    margin-top: 2em;
    margin-bottom: 2em;
}

#containerInputZone input {
    margin-left: 10px;
}