textarea {
    resize: none;
    width: 40%;
    height: 5em;
    box-sizing: border-box;
    border: 2px solid var(--background-color);
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
    color:var(--text-color-lvl-1);
}

h1 {
    text-align: center;
    font-size: xx-large; 
    font-family: 'Quicksand Regular';
}

h2 {
    text-align: center;
    font-size: x-large;  
    font-family: 'Quicksand Regular';
}

#containerInputZone {
    display: flex;
    justify-content: center;
    margin-top: 2em;
    margin-bottom: 2em;
}

#containerInputZone input {
    margin-left: 10px;
}

table {
    width: 100%;
	border-collapse: collapse;
    margin-top : 4px;
    max-width: 100%;
}

td:first-child {
    width: 20%;
}

td:nth-child(2) {
	padding: 2%;
    max-width: 80%;
}

td {
    border: 1px solid grey;
}

#errorsDiv {
	color: var(--title-color);
	font-weight: bold;
}

#author {
    font-size : 26px;
    color: var(--text-color-lvl-1);
    margin-left: 2px;
    margin-top: 5px;
    text-align: center;
}

#date {
    color: var(--text-color-lvl-1);
    margin-top : 12px;
    text-align: right;
    padding-right: 2px;
}

.message {
    text-align: justify;
}

#backBtn {
  justify-content: center;
  text-align: center;
  display: flex;
  border: 0.20em solid var(--background-color);
  border-radius: 2em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Quicksand Regular';
  font-weight: 300;
  font-size: x-large;
  color: black;
  text-align: center;
  transition: all 0.5s;
}

#backBtn:hover {
  color: var(--text-color-lvl-1);
  background-color : #2fa0f6;
}

#createTopicBtn {
  justify-content: center;
  text-align: center;
  display: flex;
  border: 0.20em solid var(--background-color);
  border-radius: 2em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Quicksand Regular';
  font-weight: 300;
  font-size: x-large;
  color: black;
  text-align: center;
  transition: all 0.5s;
  margin-top:2px;
  top: 50%;
  left: 50%;
}

#createTopicBtn:hover {
  color: var(--text-color-lvl-1);
  background-color : #2fa0f6
}

#createTopic {
    text-align: center;
}  

.button {
    text-align: center;
    justify-content: center;
    display : flex;
    top: 50%;
    left: 50%;
    margin-top: 8px;
    margin-bottom: 8px;   
}

.newtopic {
    transition-duration : 0.5s;
    border : 0.20em solid var(--background-color);
    color : black;
    text-align: center;
    border-radius: 2em;
    box-sizing: border-box;
    font-size: xx-large;
}

.newtopic:hover {
    color : var(--text-color-lvl-1);
    background-color: #2fa0f6;
}

.topicbutton {
    text-align: center;
    text-decoration: none;
    justify-content: center;
    display : flex;
    color : var(--text-color-lvl-1);
    width: 95%;
    background: transparent;
    transition-duration: 0.5s;
    font-family: 'Quicksand Regular';
    font-weight: 300;
    font-size: x-large;
}

.topicbutton:hover {
    background-color: #2fa0f6;
    color : var(--text-color-lvl-1);
}

.rowtopic {
    width : 90%;
    padding-left: 5%;
}

#topicsTable {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
  
.topicsTableHideExtra {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 100%;
    width: 100%;
    position:relative;
    display:inline-block;
}

.topicsTableTextCenter {
    text-align: center; 
    vertical-align: middle;
}

#addAnswerBtn {
  text-align: center;
  display: flex;
  border: 0.20em solid var(--background-color);
  border-radius: 2em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Quicksand Regular';
  font-weight: 300;
  font-size: x-large;
  color: var(--text-color-lvl-1);
  text-align: center;
  transition: all 0.5s;
}


