.infoAboutUs {
    background-color: var(--handler-lvl-1-color);
    float: left;
	height: 90%;
    width: 90%;
    padding: 40px;
    margin: 10px 50px 20px;
}

.game gameAboutUs {
    background-color: var(--handler-lvl-1-color);
    float: right;
    width: 60%;
    padding: 40px;
    margin: 0px 20px 20px 0px;
}

.game img{
    float: left;
    width: 30%;
    margin: 0px 0px 20px 20px;
    padding-top: 10px;
}

.us {
    background-color: var(--handler-lvl-1-color);
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    left: 15%;
}

figure {
    border: thin var(--handler-lvl-2-color) solid;
    display: flex;
    flex-flow: column;
    padding: 5px;
    max-width: 220px;
    margin: auto;
}

img {
    max-width: 220px;
    max-height: 150px;
}

figcaption {
    background-color: #222;
    color: #fff;
    padding: 3px;
    text-align: center;
}