body{
    color: var(--text-color-lvl-2);
}

.infoAboutUs {
    background-color: var(--handler-lvl-2-color);
	height: 90%;
    width: 90%;
    padding: 40px;
    margin: 10px 50px 20px;
}

.infoAboutUs p {
    border: 2px solid var(--handler-lvl-3-color);
    border-radius: 10px;
    padding: 5px 8px 5px;
}

.gameAboutUs {
    background-color: var(--handler-lvl-2-color);
    padding: 40px;
    margin: 0px 20px 20px 0px;
}

.game img{
    float: left;
    width: 30%;
    margin: 0px 0px 20px 20px;
    padding-top: 50px;
    padding-right: 10px;
}

.us {
    background-color: var(--handler-lvl-2-color);
    text-align: center;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    left: 10%;
}

.pdp {
    text-align: center;
    display: flex;
    flex-direction: row;
}

figure {
    border: thin var(--handler-lvl-2-color) solid;
    display: flex;
    flex-flow: column;
    padding: 5px;
    width: 220px;
    margin: auto;
}

figure img {
    width: 220px;
    height: 180px;
}

figcaption {
    background-color: var(--handler-lvl-3-color);
    color: var(--text-color-lvl-1);
    padding: 3px;
    text-align: center;
}

#nbConnection{
    color: var(--text-color-lvl-1);
}