body{
  background-color: var(--handler-lvl-2-color);
  color: var(--text-color-lvl-2);
  font-family:'Titillium Web', sans-serif;
}

#info{
text-align: center;
}

h1{
text-align: center;
}

.choice-container {
display: flex;
margin-bottom: 0.3rem;
width: 65%;
font-size: 1.2rem;
border: 0.1rem solid var(--handler-lvl-3-color);;
margin-left:15%;

}

.choice-container:hover {
cursor: pointer;
box-shadow: 0 0.4rem 1.4rem 0 rgba(86, 185, 235, 0.5);
transform: translateY(-0.1rem);
transition: transform 150ms;
}

.choice-prefix {
padding: 0.5rem 2.5rem;
color: #1c2347;
}

.choice-text {
padding: 0.5rem;
width: 100%;
}

.choice-valid{ 
  width: 100%;
  text-align: center;
}

.choice-input {
background: transparent;
text-decoration: none;
border : 0px;
color: var(--text-color-lvl-2);; 
}

.SubmitBtn {
display: flex;
margin-bottom: 0.5rem;
width: 65%;
font-size: 1.8rem;
border: 0.1rem solid var(--handler-lvl-3-color);;
text-align: justify;
font-family:'Titillium Web', sans-serif;
padding: 1.5rem;
margin-left: 15%;
margin-top : 1rem;
}

.SubmitBtn:hover{
cursor: pointer;
box-shadow: 0 0.4rem 1.4rem 0 rgba(86, 185, 235, 0.5);
transform: translateY(-0.1rem);
transition: transform 150ms;
}

.chapter 
{
font-family: 'Titillium Web',sans-serif;
margin-bottom: 0.5rem;
text-align: center;
padding :1.5rem;
}

.Note {
font-family: 'Titillium Web',sans-serif;
margin-bottom: 0.5rem;
text-align: center;
padding :1.5rem;
}