

#Difficulty{
    width:100px;
    border : 0.1rem solid #1c2347;
}

#question{
    width:400px;
    border: 0.1rem solid #1c2347;
}

#GoodChoice {
    width:100px;  
    border: 0.1rem solid #1c2347;
}

#chapter {
  margin-left: 50%;
}

.choice-container {
  margin-top:0.5rem;
  display: flex;
  width: 60%;
  font-size: 0.8rem;
}

.choice-prefix {
  padding: 0.5rem 2.5rem;
}

.choice-text {
  padding: 0.5rem;
}

a {
  text-align: center;
}

.showQ {
  background-color: var(--background-color);
  color: var(--text-color-lvl-1);
}





