<!DOCTYPE html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Quiz</title>    
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../css/cssQuiz.css">
        <style>
            @import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200&display=swap');
        </style>
    </head>
    
    <body>
        <div class="quiz">
            <div id="info">
                <div id="chapter">Chapitre x : blabla</div>
                <div id="score">Note: 0</div>
                <div id="ques-remain">Question:1/20</div>
            </div>
            <div class="question">
                <h1>Question</h1>
                <div class="choice">
                    <div class="choice-container">
                        <p class="choice-prefix">A.</p>
                        <p class="choice-text" data-number="1">Choix 1</p>
                    </div>
                    <div class="choice-container">
                        <p class="choice-prefix">B.</p>
                        <p class="choice-text" data-number="2">Choix 2</p>
                    </div>
                    <div class="choice-container">
                        <p class="choice-prefix">C.</p>
                        <p class="choice-text" data-number="3">Choix 3</p>
                    </div>
                    <div class="choice-container">
                        <p class="choice-prefix">D.</p>
                        <p class="choice-text" data-number="4">Choix 4</p>
                    </div>
                    <div class="choice-container">
                        <p class="choice-valid">Valider la reponse</p>
                    </div>
                </div>
            </div>
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
        <script src="../js/jquery.js"></script>
        <script src="../js/jsQ.js"></script>
        
    </body>

</html>