<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Connexion au site</title>    
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../css/cssSI.css">
        <style>
            @import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200&display=swap');
        </style>
    </head>
    <body>
        
            
            <form>
                <header>Connexion à votre compte</header>

                <label>E-mail</label>
                <input id="email" type="text" placeholder="Entrez votre email">
                
                <label>Mot de passe</label>
                <input id="password" type="password" placeholder="Entrez votre mot de passe"> 
                
                <button>Connexion</button>
                <footer>Pas de compte ? <a href="signup.html">Creer votre compte</a> </footer>
            </form>
             
        <script src="js.js"></script>
    </body>
</html>