.InfosProfiles {
    font-size: large;
    font-family:'Quicksand Regular' ;
}

.EditBtn {
    color: #ffffff;
    background-color: #2fa0f6;
    min-width: 120px;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    text-align: center;
    margin-left:10px;
}

input{
    display: block;
    height: 50px;
    width: 100%;
    background-color: rgba(255,255,255,0.07);
    border-radius: 3px;
    margin-top:15px;
    font-size: 14px;
    font-weight: 300;
}

::placeholder{
    display: inline-block;
    color: black;
    text-align: center;
}
