.InfosProfiles {
    font-size: large;
    font-family:'Quicksand Regular' ;
}

.EditBtn {
    color: #ffffff;
    background-color: #2fa0f6;
    min-width: 120px;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    text-align: center;
    margin-left:10px;
}

input::placeholder {
    display: flex;
    margin-bottom: 0.5rem;
    width: 65%;
    font-size: 1.8rem;
    border: 0.1rem solid #1c2347;
    margin-left : 0.5rem;
}

label {
    font-size: 16px;
    font-family: 'Quicksand Regular';
    width : 15%;
}
