nav {
	position: fixed;
	width: 20%;
	margin-left: 1%;
	padding: 1%;
	border: 1px solid grey;
	border-radius: 5%;
}

h1 {
	text-align: center;
}

.content {
	float: right;
	width: 76%;
}

.selected {
	background-color: #888888;
	border: 1px solid #888888;
}

ul {
	padding-left: 0; 
}

li {
	cursor: pointer;
	list-style-type: none;
}

.brand {
  font-weight: bold;
  font-size: 20px; 
}

.Welcome {
	text-align: right;
	font-size:xx-large;
}