.brand {
  font-weight: bold;
  font-size: 20px; 
}

.site-header {
  position: relative;
  background-color: #def7ff; 
}

.site-header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 1rem;
  padding-bottom: 1rem; 
}

.site-header__wrapper {
  justify-content: initial; 
} 

.site-header__middle {
  margin-left: auto; 
} 

.nav__wrapper {
  display: flex; 
  list-style-type: none;
} 

.nav__item a {
  display: block;
  padding: 1rem;
}

.nav__toggle {
  display: none; 
}

.button {
  color: #ffffff;
  background-color: #2fa0f6;
  min-width: 120px;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  text-align: center;
}

.button svg {
  display: inline-block;
  vertical-align: middle;
  width: 24px;
  height: 24px;
  fill: #ffffff;
}

.button span {
  display: none;
}

.wrapper {
  max-width: 1140px;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: auto;
  margin-right: auto;
}

a {
  text-decoration: none;
  color: #222222;
}

body {
  font-family: "Roboto", sans-serif;
}