/* Coolors Exported Palette - https://coolors.co/e63746-1c2347-212b52-2b3b68-354e75-f3f5f7 */

/* CSS HEX */
--imperial-red: #e63746ff;
--space-cadet: #1c2347ff;
--space-cadet-2: #212b52ff;
--space-cadet-3: #2b3b68ff;
--y-in-mn-blue: #354e75ff;
--cultured: #f3f5f7ff;

/* CSS HSL */
--imperial-red: hsla(355, 78%, 56%, 1);
--space-cadet: hsla(230, 43%, 19%, 1);
--space-cadet-2: hsla(228, 43%, 23%, 1);
--space-cadet-3: hsla(224, 41%, 29%, 1);
--y-in-mn-blue: hsla(217, 38%, 33%, 1);
--cultured: hsla(210, 20%, 96%, 1);

/* SCSS HEX */
$imperial-red: #e63746ff;
$space-cadet: #1c2347ff;
$space-cadet-2: #212b52ff;
$space-cadet-3: #2b3b68ff;
$y-in-mn-blue: #354e75ff;
$cultured: #f3f5f7ff;

/* SCSS HSL */
$imperial-red: hsla(355, 78%, 56%, 1);
$space-cadet: hsla(230, 43%, 19%, 1);
$space-cadet-2: hsla(228, 43%, 23%, 1);
$space-cadet-3: hsla(224, 41%, 29%, 1);
$y-in-mn-blue: hsla(217, 38%, 33%, 1);
$cultured: hsla(210, 20%, 96%, 1);

/* SCSS RGB */
$imperial-red: rgba(230, 55, 70, 1);
$space-cadet: rgba(28, 35, 71, 1);
$space-cadet-2: rgba(33, 43, 82, 1);
$space-cadet-3: rgba(43, 59, 104, 1);
$y-in-mn-blue: rgba(53, 78, 117, 1);
$cultured: rgba(243, 245, 247, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #e63746ff, #1c2347ff, #212b52ff, #2b3b68ff, #354e75ff, #f3f5f7ff);
$gradient-right: linear-gradient(90deg, #e63746ff, #1c2347ff, #212b52ff, #2b3b68ff, #354e75ff, #f3f5f7ff);
$gradient-bottom: linear-gradient(180deg, #e63746ff, #1c2347ff, #212b52ff, #2b3b68ff, #354e75ff, #f3f5f7ff);
$gradient-left: linear-gradient(270deg, #e63746ff, #1c2347ff, #212b52ff, #2b3b68ff, #354e75ff, #f3f5f7ff);
$gradient-top-right: linear-gradient(45deg, #e63746ff, #1c2347ff, #212b52ff, #2b3b68ff, #354e75ff, #f3f5f7ff);
$gradient-bottom-right: linear-gradient(135deg, #e63746ff, #1c2347ff, #212b52ff, #2b3b68ff, #354e75ff, #f3f5f7ff);
$gradient-top-left: linear-gradient(225deg, #e63746ff, #1c2347ff, #212b52ff, #2b3b68ff, #354e75ff, #f3f5f7ff);
$gradient-bottom-left: linear-gradient(315deg, #e63746ff, #1c2347ff, #212b52ff, #2b3b68ff, #354e75ff, #f3f5f7ff);
$gradient-radial: radial-gradient(#e63746ff, #1c2347ff, #212b52ff, #2b3b68ff, #354e75ff, #f3f5f7ff);